name: Compile Java Backend

on:
  push:
  pull_request:

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Make mvnw executable
        run: chmod +x app/mvnw

      - name: Compile backend
        working-directory: app
        run: ./mvnw clean compile -DskipTests
